{% extends model('component') %}

{% define config = {
    name: 'easycredit-summary'
} %}

{% define data = {
    title: 'easycredit.summary.title' | trans,
    linkTitle: 'easycredit.link.title' | trans,
    interest: required,
    url: required,
    text: required
} %}

{% block body %}
    <div class="box">
        <h6 class="spacing-y">{{ data.title }}:</h6>
        <p class="spacing-y spacing-y--small"><strong>{{ 'easycredit.interest' | trans }}: </strong>{{ data.interest }}</p>
        <div class="spacing-y">
            <a href="{{ data.url }}" title="{{ data.linkTitle }}">{{ data.linkTitle }}</a>
        </div>
        <p class="spacing-y spacing-y--small">
            <strong>{{ 'easycredit.alternative' | trans }}:</strong>
            <p class="spacing-y spacing-y--small">{{ data.text }}</p>
        </p>
    </div>
{% endblock %}
