{% extends model('component') %}

{% define config = {
    name: 'easycredit-summary'
} %}

{% define data = {
    title: 'EasyCredit Summary:',
    linkTitle: 'EasyCredit Link',
    interest: required,
    url: required,
    text: required
} %}

{% block body %}
    <div class="box">
        <div class="spacing-y">{{ data.title }}</div>
        <div class="spacing-y"> {{ data.interest }}</div>
        <a href="{{ data.url }}">{{ data.linkTitle }}</a>
        <div class="spacing-y">{{ data.text }}</div>
    </div>
{% endblock %}
